{% extends "::base.html.twig" %}

{% block title %}ContactsBundle:Contact:show{% endblock %}

{% block body %}
<h1>Welcome to the Contact:show page</h1>
    <p> Name {{contact.name}} </p>
    <p> Surname {{contact.surname}} </p>
    <p>Description {{contact.description}}</p>
    <p><a href ="{{ path('contacts_contact_modify', {'id': contact.id})}}"> Edition </a></p>
    <p><a href ="{{ path('contacts_address_showall', {'id': contact.id}) }}"> Show addresses</a> Or <a href ="{{ path('contacts_contact_addaddress', {'id': contact.id}) }}">Add new address</a></p>
    <p><a href ="{{ path('contacts_email_showall', {'id': contact.id}) }}"> Show Email</a> Or <a href ="{{ path('contacts_contact_addemailaddress', {'id': contact.id}) }}">Add new Email</a></p>
    <p><a href ="{{ path('contacts_phone_showall', {'id': contact.id}) }}"> Show Phone</a> Or <a href ="{{ path('contacts_contact_addphone', {'id': contact.id}) }}">Add new Phone</a></p>
    <p><a href ="{{ path('contacts_contact_showall') }}"> Show All Contacts</a>
{% endblock %}
